@model IEnumerable<IndexViewModel>
@{
    ViewBag.Title = "Medicines";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var m in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@m.Title</h5>
                <img class="card-img-top" src=@m.ImageUrl alt="Ad Image">
                <p class="mb-0"><span class="fw-bold">Active ingredient:</span>@m.ActiveIngredient</p>
                <p class="mb-0"><span class="fw-bold">Active ingredient quantity:</span>@m.ActiveIngredientQuantity</p>
                <p class="mb-0"><span class="fw-bold">Expiry date:</span>@m.ExpiryDate</p>
                <p class="mb-0"><span class="fw-bold">Category: </span>@m.MedicineType</p>
                <p class="mb-0"><span class="fw-bold">Price: </span>@m.Price BGN</p>
            </div>

            @if (User.Identity.Name == m.Pharmacist)
            {
                <a asp-controller="Ad" asp-action="Edit" asp-route-id="@m.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit the Ad</a>
            }
            else
            {
                <form class="input-group-sm " asp-controller="Ad" asp-action="AddToCart" asp-route-id="@m.Id">
                    <input type="submit" value="Add to Cart" class="fs-6 btn btn-warning mb-3 w-100 p-3 fw-bold" />
                </form>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


